header {
  background-color: var(--color-primary);
  height: 60px;
  display: flex;
  align-items: center;
}

body {
  zoom: 1;
}

.dsmovie-nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.dsmovie-nav-content h1 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
}

.dsmovie-contac-container {
  display: flex;
  align-items: center;
  padding-left: 1.3rem;
}

.dsmovie-social-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dsmovie-contact-link {
  margin: 0 0 0 4px;
  font-size: 11px;
}

.dsmovie-contact-link1 {
  font-size: 11px;
  display: contents;
}


