@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-primary: #195b91;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  background-color: #1b2553;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}
